.form-header {
    background-color: var(--header-bg);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;

    .modal-title {
        color: var(--text-main);
        font-size: 18px;
        margin: 0;
        text-align: center;
        font-weight: 500;
        margin-bottom: clamp(1.25rem, 0.43rem + 3.15vw, 3.125rem);
    }

}